@import 'reset.css';
body{
    background-color: #0D5577;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #007A94;

}
nav{
    padding: 30px;
    display: flex;
    gap:30px;
    justify-content: space-evenly;
}
button{
    padding:15px 30px 15px 30px;
    background-color: #38C392;
    border-radius: 10px;
    border:none;
    font-size: 2rem;
}